* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@font-face{
    font-family: myFont;
    src: url(quesha/Quesha.ttf);
}
@font-face{
    font-family: myFont2;
    src: url(Union-Font/Union-Regular.ttf);
}
@font-face{
    font-family: myFont3;
    src: url(tasteful/Taste-s.otf);
}
@font-face{
    font-family: myFont4;
    src: url(NimbusSansNovusTOT-Reg.otf);
}

@font-face{
    font-family: myFont5;
    src: url(NimbusSanL-Reg.otf);
}
body {
        background: white;
        position: relative;
}
nav {
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid rgb(211, 208, 208);
    box-shadow: 5px 5px 5px rgb(248, 247, 247);
    position: fixed;
    top: 0%;
}
label.logo {
    line-height: 70px;
    font-size: 50px;
    color: black;
    padding: 0 20px;
    font-weight: medium;
    font-family: myFont3
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    border-radius: 3px;
    padding: 7px 13px;
    text-transform: uppercase;
    font-family: myFont2;
}
span {
    font-size: 20px;
}
a.active,a:hover {
    background: orange;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
.all-div {
    margin: 0;
    margin-top: 100px; 
    padding: 0;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}
.carry_all {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-bottom: 40px;
}
.carry_not {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-bottom: 40px;
}
.carry_img {
    width: 400px;
    height: 400px;
}
.hair {
    background-repeat: no-repeat;
    background-size: 500px;
    width: 95%;
    height: 100%;
}

.carry_content {
    margin: 0;
    display: block;
    margin-top: 10px;
}
.content-sp {
    display: block;
    font-size: 22px;
    font-family: myFont;
    line-height: 25px;
}
.overall {
    display: block;
    margin: 0;
    padding: 0;
}

.the_links {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 6px;
    align-items: center;
    color: rgb(167, 167, 167); 
}
.the_ref {
    padding: 6px;
    font-family: myFont;
    color: rgb(190, 189, 189);
    font-size: 20px;
}
.the_href.active,.the_ref:hover {
    background: none;
    transition: .5s;
}
.name_price {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    align-items: center;
    padding-bottom: 10px;
    font-family: myFont;
    font-size: 50px;
}
.price_name, .price {
    margin-right: 100px;
    font-weight: bold;
    font-family: myFont;
    font-size: 33px;
}
.price-tag {
    display: flex;
    flex-direction: column;
}
.the_cal {
    display: flex;
}
.inche {
    margin-left: 10px; 
    width: 40px;
    height: 40px;
    border: 1px solid rgb(240, 237, 237);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11px;
    cursor: pointer;
}
.chart {
    border: none;
    font-family: myFont5;
    background: white;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
    margin: 10px;
    margin-bottom: 15px;
    font-size: 12px;
    display: flex;
    width: 260px;
}
.price_per_inch, .inche_Above_Twenty{
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: myFont;
}
p {
    margin-left: 10px;
    color: #242420;;

}

.add_cart_overall {
    display: flex;
    align-items: center;
}
.for_gram {
    margin: 0;
    padding: 0;
    display: flex;
    margin: 10px;
    align-items: center;
    margin-bottom: -2px;
    font-family:  union,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
}
label {
    font-family: myFont5;
}
#numberInput {
    width: 50px;
    height: 20px;
    margin-left: 5px;
    border-radius: 2px;
    border: 1px solid rgb(209, 207, 207);
}
.the-butt {
    margin-left: 5px;
    background-color: black;
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: myFont2;
    font-size: 16px;
    line-height: 20px;
}
p {
    font-family: myFont;
    font-size: 20px;
}
.add-cart {
    width: 300px;
    height: 45px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myFont;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 10px;
}
.add-cart:hover {
    opacity: 0.7;
    cursor: pointer;
}
.love {
    border: 1px solid rgb(238, 230, 230);
    width: 45px;
    height: 45px;
    border-radius: 6px;
    line-height: 45px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
}
.centered-div {
    width: calc(100% - 200px);
    margin-left: 100px;
    margin-right: 100px;
}
.cart-head {
    display: flex;
    width: 100%;
    margin-top: 90px;
    justify-content: space-between;
}
.cont a {
    font-family: myFont;
    font-size: 25px;
    background: white;
    color: black;
}
.check-out {
    border: none;
    width: 280px;
    height: 50px;
    background-color: orange;
    font-family: myFont;
    font-size: 30px;
    border-radius: 2px;
}

.shopped-bag {
    display: block;    
    width: 100%;
}
.shop-bag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: myFont5;
}
.shopped-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    width: 95%;

}
.logos {
    margin-top: 10px;
    font-family: myFont3;
    text-align: center;
    font-size: 40px; 
}
.order-details {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items:flex-start;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: myFont4;
    color: black;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(218, 215, 215);
}
.name-details {
    margin: 0;
}
.inches-detail {
    display: block;
}
.inch-span {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;

}
.gram-details {
    display: block;
}
.box-inch {
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: myFont5;
}
.box-contain {
    display: flex;
}
.box-quant {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    border: 1px solid black;
    font-size: 20px;
    font-family: myFont5;
}
.box-plus, .box-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    color: black;
    font-size: 20px;
    font-family: myFont5;
    border: none;
    margin-right: 5px;
    background-color: rgb(230, 227, 227);
}
.box-minus {
    margin-left: 5px;
}
.p-tag {
    font-size: 25px;
    font-family: myFont5;
    color: black;
}
.total-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 200px;
    flex: 1;
}
.sub-total{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    color: black;
    width: 350px;
    font-size: 16px;
    font-family: myFont5;
    padding-bottom: 10px;

}
.tot {
    display: flex;
    width: 350px;
    font-weight: bold;
    font-size: 25px;
    color: black;
    font-family: myFont5;
    align-items: center;
}

.exclu {
    
    font-weight: 100;
    font-family: myFont5;
    font-size: 16px;
}
.subb {
    font-weight: bold;
    font-size: 30px;
    padding-left: 80px;
}
.check-outtotal {
    border: none;
    height: 50px;
    width: 350px;
    background-color: orange;
    font-family: myFont;
    font-size: 30px;
    border-radius: 2px;
}
.cart-overlay {
    width: 400px;
    border: 1px solid grey;
    background: white;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    display: None;
    top: 11%;
    right: 0;
}
.add-it {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-family: myFont5;
    font-size: 20px;
    color: black;
    font-weight: 100;
}
.cart-overit {
    width: 100%;
    display: block;
    height: 600px;
}
.cart-pics-name {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.cart-pics {
    width: 100px;
    height: 120px;
}

.cart-namep {
    display: block;
    font-family: myFont;
    justify-content: space-between;
    font-size: 30px;

}
.cartname, .cartprice {
    display: block;
    font-size: 20px;
    padding-bottom: 5px;
}
.cartprice {
    padding-top: 30px;
    font-weight: 700;
    font-size: 22px;
}
.qty-cart-inches{
    display: flex;
}
.cartqty, .cart-inch {
    padding-right: 20px;
    font-family: myFont;
    font-size: 20px;
    padding-top: 10px;
}
.cart-total-price {
    margin-top: 30px;
}
.pt-tag {
    display: flex;
    justify-content: space-between;
}
.ex-del, .ex-price {
    font-family: myFont;
    font-size: 22px;
    font-weight: bold;
}
.cart-buttons {
    display: flex;
    margin-top: 10px;
}
.viewbag, .checkit {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    font-weight: bold;
    font-family: myFont;
    font-size: 20px;
}
.viewbag {
    border: 1px solid black;
    background: white;
    margin-right: 15px;
}
.checkit {
    border: none;
    background: orange;
}


@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display:block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: orange;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .all-div {
        display: block;
    }
}