* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@font-face{
    font-family: myFont;
    src: url(quesha/Quesha.ttf);
}
@font-face{
    font-family: myFont3;
    src: url(tasteful/Taste-s.otf);
}

body {
        background: white;
        font-family: myFont;
}
nav {
    width: 100%;
    height: 65px;
    background-color: white;
    border-bottom: 1px solid rgb(217, 209, 209);
    position: fixed;
    top: 0;
    z-index: 1000;
}
label.logo {
    line-height: 65px;
    font-size: 50px;
    color: black;
    padding: 0 20px;
    font-weight: medium;
    font-family: myFont3;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 65px;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    font-size: 20px;
    border-radius: 3px;
    padding: 7px 13px;
    text-transform: uppercase;
}
a.active,a:hover {
    background: orange;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color:black;
    float: right;
    line-height: 65px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
.the-img-sec {
    width: 100%;
    display: block;
    position: relative;
}
.the-nav {
    width: 100%;
    margin-top: 65px;
    background-color: rgb(245, 245, 245);
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.the-nav span {
    font-size: 22px;
    text-align: center;
}
.our-div {
    margin: 0;
    width: 100%;
}
.back-style {
    width: 100%;
    height: 600px;
}
.content-absolute {
    position: absolute;
    font-size: 100px;
    top: 60%;
    left: 25%;
    font-family: myFont3;
    color: white;
}
.my-button {
    display: flex;
    border: 1px solid grey;
    background-color: white;
    border-radius: 7px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: black;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display:block;
    }
    ul {
        position: absolute;
        width: 50%;
        height: 50vh;
        background: white;
        top: 66px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active{
        background: orange;
        color: black;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .the-img-sec {
        position: relative; 
        z-index: 0; 
    }
    .content-absolute {
        font-size: 50px;
    }    
}

