<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../static/styles/display.css">
    <script src="../static/scripts/2-web.js"></script>
</head>
<body>
    <div class="shopped-head">
        <span class="logos"><i>M</i>o<i>ES</i>&nbsp;  <i>C</i>o<i>ll</i>ectio<i>N</i></span>
    </div>
    <div class="cart-head">
        <span class="cont">&#8592; Continue shopping</span>
        <button class="check-out">checkout</button> 
    </div>
    <div class="shopped-bag">
        <span class="shop-bag">MY SHOPPING BAG</span>
        {% for inch, grams in inchesDictionary.items() %}
        <div class="order-details">
            {% for gram, details in grams.items() %}
            <div class='name-details'>
                <span class="inch-span">{{ details.productName }}</span>
            </div>
            <div class="inches-detail">
                <span class="inch-span">Inches</span>
                <div class="box-inch">{{ inch }}</div>
            </div>
            <div class="gram-details">
                <span class="inch-span">Gram</span>
                <div class="box-inch">{{ gram }}g</div>
            </div>
            <div class="quantity-details">
                <span class="inch-span">Quantity</span>
                <div class="box-contain">
                <div class="box-plus">&plus;</div>
                <div class="box-quant">{{ details.quantity }}</div>
                <div class="box-minus">&minus;</div>
                </div>
            </div>
            <div class="price-detail">
                <span class="inch-span">Price</span>
                <div class="p-tag">&#8358;{{ details.productPrice }}</div>
            </div>
        </div>
        <div class="total-details">
            <div class="sub-total">SubTotal <span class="sub">&#8358;{{ details.total }}</span></div>
            <div class="tot">Total<span class="exclu">&#40;Excl delivery&#41;</span> <span class="subb">&#8358;{{ details.total }}</span></div>
        </div>
    </div>
                {% endfor %}
        {% endfor %}
    
</body>
</html>
