<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hairs and Prices</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../static/styles/display.css">
    <script>var userId = "{{ user_id }}";</script>
    <script src="../static/scripts/2-web.js"></script>
</head>
<body>
    <nav>  
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <label class="logo"><i>M</i>o<i>ES</i> <i>C</i>o<i>ll</i>ectio<i>N</i></label>
        <ul>
            <li><a class="active" href="/"><img src="../static/images/shopping-bag.png" style="margin-right: 5px;">Bag</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
        <div id="capturedContent" class="all-div">
            <div class="carry_all">
                <div class="carry_img">
                    <img class="hair" src="{{ contents.imageSrc }}">
                </div>
            </div>
            <div class="overall">
                <div class="the_links">
                    <a class="the_ref" href="/main_views">Women</a> &#47;
                    <a class="the_ref" href="/">Home</a>
                </div>
                <div class="name_price">
                    <span class="price_name">
                        {{ contents.productName }}
                    </span>
                    <span class="price">
                        &#8358;{{ contents.productPrice}}
                    </span>
                </div>
                <div class="the_cal">
                    <div class="inche" data-inches="8">8</div>
                    <div class="inche" data-inches="10">10</div>
                    <div class="inche"data-inches="12" >12</div>
                    <div class="inche" data-inches="14">14</div>
                    <div class="inche" data-inches="16">16</div>
                    <div class="inche" data-inches="18">18</div>
                    <div class="inche" data-inches="20">20</div>
                    <div class="inche" data-inches="22">22</div>
                    <div class="inche" data-inches="24">24</div>
                    <div class="inche" data-inches="26">26</div>
                    <div class="inche" data-inches="28" >28</div>
                    <div class="inche" data-inches="30">30</div>
                    <div class="inche" data-inches="32">32</div>
                </div>
                <button class="chart">INCHES CHART </button>
                <p class="model-wears"> Our model wears a {{ contents.productInches }} inches {{ contents.productName }} hair </p>
                    <div class="for_gram">
                        <label for="numberInput">Gram: </label>
                            <input id="numberInput" name="numberInput">
                            <button class="the-butt" type="button">Enter</button>
                    </div>
                <div class="add_cart_overall">
                    <div class="add-cart">Add to Bag </div>
                    <div class="love"><p>&#x2764;</p></div>
                </div>
            </div>
        </div>
    </body>
    </html>