<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/home.css">
    <title>{% block title %}Moes Collection/Home{% endblock %}</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/1-web.js"></script>
</head>
    <body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <label class="logo"><i>M</i>o<i>ES</i> <i>C</i>o<i>ll</i>ectio<i>N</i></label>
        <ul>
            <li><a class="active" href="/seller">Home</a></li> 
            <li><a href="/seller_login">Login</a></li>
            <li><a href="/seller_sign-up">Sign-up</a></li>
        </ul>
    </nav>
    <div class="the-img-sec">
        <div class="the-nav">
            <span>Women &gt;  &nbsp;</span>
            <span> Luxury &gt;  &nbsp;</span>
            <span> Beauty</span>
        </div>
        <div class="content-absolute"><p>Elegance and Luxury</p>
        <div class="my-button"><span>Wigs and Bundles</span></div></div>
        <div class="our-div">
            <img class="back-style" src="../static/images/hairpics11.jpg">
        </div>
    </div>
 </body>
 </html>