<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/orders.css">
    <title>Bag</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/1-web.js"></script>
</head>
<body>
    <div class="main-contain">
        <div class="column-1">
            <label class="logo"><i>M</i>o<i>ES</i> <i>C</i>o<i>ll</i>ectio<i>N</i></label>
            <div class="home-div"><span class="home"><a href="/seller"><i class="fa fa-home"></i>Home</a></span></div>
            <div class="productboard"><span class="Poductboard"><a href="/seller_upload">Productboard</span></div>
        </div>
        <div class="column-2">
            <div class="order-name">
            <h3 class="cl-name">Orders</h3>
            </div>
            <div class="topnav">
                <button>
                    <i class="fa fa-search"
                       style="font-size: 17px;">
                    </i>
                </button>
                <input type="text" placeholder="Search">
            </div> 
            <div class=colon-names>
                <span class="cust-colon">Customer</span><span class="date-colon">Order Date</span>
                <span class="product-name-colon">Product Name</span><span class="quant-colon">Quantity</span><span class="inches-colon">Inches</span>
                <span class="product-price-colon">Price</span><span class="total-price-colon">Total</span>
            </div>
                <div class=order-content>
                        {% for orders, users in all_orders %}
                        <div class="customer-name-div">
                            <span class="customer-name">{{ users.last_name}} {{ users.first_name }}</span>
                            <span class="cust-email"> {{ users.email }}</span>
                        </div>
                        <div class="customer-order-date">
                            <span class="date-data">{{ orders.created_at }} </span>
                        </div>
                        <div class="product-name">
                            <span class="product-data">{{ orders.productName }} </span>
                        </div>
                        <div class="quant">
                            <span class="quant-data">{{ orders.productQuantity }} </span>
                        </div>
                        <div class="inches">
                            <span class="inches-data">{{ orders.productInches }}</span>
                        </div>
                        <div class="price-product">
                            <span class="price-data">&#8358;{{ orders.productPrice }}</span>
                        </div>
                        <div class="total-price">
                            <span class="total-data">&#8358;{{ orders.productTotal }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div> 
        </div>
    </div>
</body>
</html>